:root{
    --blueBtn: #4596ed; 
}
.activeOpenBtn{
    /* background-color: rgb(255, 255, 255); */
    background-color: var(--blueBtn);
    color: rgb(255, 255, 255); 
    transition: 0.2s all ease-in-out;
    border-radius: 7px 7px 7px 7px;
    transform: translateX(-2%) scale(0.8);
    
}

.activeCloseBtn{
    background-color: rgb(248, 246, 246); 
    background-color: var(--blueBtn);
    color: rgb(255, 253, 253);
    transition: 0.2s all ease-in-out;
    border-radius: 7px 7px 7px 7px;
    transform: scale(0.8);
    /* backdrop-filter: blur(10px); */
}

.AppBar{
    /* background-color: rgb(241, 7, 7); */
}

.HomeContainer{
    display:contents;
    height: 100vh;
    background-image: url("../images/background2.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.sideMenuContainer{
    display: flex;
    -webkit-background-composite: padding;
    flex-direction: column;
    justify-content: flex-start; 
    
}

.sideFloatClass{
    opacity: 10;
    animation-name: slideLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin-top: 2%;    
}

.sideMenuContainer .sideMenuLinks{
    text-decoration:wavy;
    color: inherit;
}

@keyframes slideLeft {
    from{
        opacity: 0;
        transform: translateX(-5%);
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

